---
import '@/styles/globals.css';

import { ModeToggle } from '@/components/ModeToggle';
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';

export interface Props {
  head: {
    title: string;
    description: string;
    author: string;
  };
}

const {
  head: { title, description, author },
} = Astro.props as Props;
---

<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body class='bg-background text-foreground'>
    <Navbar>
      <ModeToggle client:load />
    </Navbar>

    <div class='mx-auto max-w-screen-md'>
      <slot></slot>
    </div>

    <Footer />
  </body>
</html>
