---
import Socials from "@components/Socials.astro";
import { SITE, SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<section id="hero">
  <div class="flex items-center gap-4">
    <img src="/avatar.png" alt="Profile" />
    <div class="flex flex-col gap-2">
      <div class="text flex flex-row gap-2">
        {`@${SITE.author} | jjd0324@gmail.com`}
      </div>
      <p>안녕하세요, typescript 개발자 장두혁입니다.</p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <Socials />
          </div>
        )
      }
    </div>
  </div>
</section>

<style>
  #hero {
    @apply flex flex-col items-start justify-center;
  }
  #hero p {
    @apply opacity-80;
  }
  #hero img {
    @apply h-28 w-28 rounded-full;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
