---
export interface Props {
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { className = "", ariaLabel, title, disabled = false } = Astro.props;
---

{
  disabled ? (
    <span
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <button
      class:list={["group inline-block hover:text-skin-accent", className]}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </button>
  )
}
